@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Merriweather&family=Roboto:wght@100;300&display=swap');

html {
height: 100%;
}
body {
  background-color: beige;
  font-family: 'Merriweather', serif;
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
  height: 100vh;
  line-height: 100vh;
  white-space: nowrap;
  color: #6767D4;
}

